*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #548687;
    text-align: center;
}

.contaner{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    border-radius: 5px;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 5px;
    border: none;
    font-size: 8vmin;
    background-color: #ffffc7;
    color: rgb(167, 54, 54);
    
}

#reset-btn{
    padding: 1rem;
    background-color: aqua;
    font-size: 1.5rem;
    color: rgb(9, 9, 226);
    border: none;
    border-radius: 5px;
}

#newgame-btn{
    padding: 1rem;
    background-color: aqua;
    font-size: 1.5rem;
    color: rgb(9, 9, 226);
    border: none;
    border-radius: 5px;
}

#msg{
    color: #ffffc7;
    font-size: 8vmin;
}

.mssg-contaner{
    height: 40vmin;
}

.hide{
    display: none;
}